.title{
  text-align: center;
}

.cor{
  width: 120px;
  height: 50px;
  border: 1px solid ;
  margin-right: auto;
  margin-left: auto;
}

.rgb-color{
  font-size: small;
  text-align: center;
}

.start{
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.meio{
  display: block;
  margin-left: auto;
  margin-top: auto;
  width: 86%;  
  height: 100px;
}

.ball{
  margin-top: 9px;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid;
}

.b1{
  margin-left: 10px;
}

.b2{
  margin-left: 200px;
}

.b3{
  margin-left: 390px;
}

.b4{
  margin-left: 580px;
}

.b5{
  margin-left: 770px;
}

.b6{
  margin-left: 960px;
}
